
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.container {
  justify-content:space-between;
  width: 900px;
  height: 75vh;
  display: flex;
  box-shadow: 10px 10px 5px 0px #1809303d;
  background-image: linear-gradient(to bottom, #44198800, #431988 70%);
  margin-top: 8.5rem;
  border-radius: 1rem;
}

.container2 {
  justify-content:space-between;
  height: 75vh;
  display: flex;
  flex-direction: column;
  box-shadow: 0px -3px 10px -10px #240a2f4a;
  background-image: linear-gradient(to bottom, #44198800, #431988 70%);
  border-radius: 0px 15px 15px 0px;
  padding-bottom: 1.5rem;
  padding-left: 1.5rem;
  padding-top: 1.5rem;
}

.container3 {
  justify-content:space-between;
  width: 650px;
  height: 75vh;
  display: flex;
  overflow: auto;
  flex-direction: column;
  background-image: linear-gradient(to bottom, #44198800, #431988 70%);
  border-radius: 0px 15px 15px 0px;
  padding: 1.5rem;
}

.footer {
  padding-top: 1.5rem;
  padding-right: 1rem;
}

.users {
  padding: 1.5rem;
  overflow: auto;
  background-image: linear-gradient(to bottom, #44198800, #180930 40%);
  box-shadow: -10px -1px 10px 5px #1809305c;
  width: 300px;
  border-radius: 15px 0px 0px 15px;
}


body {
  font-family: 'Poppins';
  font-weight: 700;
  background: linear-gradient(#2b1055, #7597de);
  height: 100vh;
  display: -ms-grid;
  display: grid;

  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}



/*---------------Two message types for the user and other users-------------*/
.message{
  flex-direction: column;
  background-color:#2b1055;
  padding: 10px;
  color: white;
  width: fit-content;
  border-radius: 10px;
  margin-bottom: 15px;
}

.user_message{
  flex-direction: column;
  margin-left: auto;
  background-color: white;
  padding: 10px;
  color:#2b1055;
  width: fit-content;
  border-radius: 10px;
  margin-bottom: 15px;
}

.user_message:hover {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  animation-name: side_border;
  animation-duration: 0.25s;
  border-right: 4.3px solid #ffffff;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.message:hover {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  animation-name: side_border2;
  animation-duration: 0.25s;
  border-left: 4.3px solid #2b1055;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

@keyframes side_border {
  0%   {border-right: 2px solid #ffffff2c;}
  25%  {border-right: 3px solid #ffffff54;}
  50%  {border-right: 4px solid #ffffff6e;}
  100% {border-right: 4.3px solid #ffffff9a;}
}

@keyframes side_border2 {
  0%   {border-left: 2px solid #2a105518;}
  25%  {border-left: 3px solid #2a10553f;}
  50%  {border-left: 4px solid #2a105566;}
  100% {border-left: 4.3px solid #2a1055ac;}
}



/*---------------Chat box to send text-------------*/
.footer form{
  display: flex;
}

form input{
  flex: 1;
  flex-direction: column;
  height: 40px;
  border: none;
  outline: none;
  font-size: 16px;
  padding: 10px;
  border-radius: 0.5rem;
}


/*---------------SEND button-------------*/
form button{
  margin-left: 1rem;
  width: 100px;
  font-size: 18px;
  border: none;
  outline: none;
  background-color:#180930;
  color: white;
  border-radius: 0.5rem;
  -webkit-transition: background-color 200ms ease in;
  transition: background-color .2s ease-in;
}

form button:hover {
  background-color: #0f061e;
  color: #ffffff;
  text-decoration: none;
}

form button:link {
  text-decoration: none;
}

form button:visited {
  text-decoration: none;
}



/*---------------Bullet Points for online users-------------*/
ul {
  list-style: none; /* Remove default bullets */
}

ul .buttonuser {
  display: block;

  margin-right: 1rem;
  margin-top: 0.5rem;
  padding: 0.1rem 0.3rem;

  font-size: 130%;
  font-family: 'Poppins';
  color: #ffffff;
  background-color: #ffffff00;

  border-radius: 0.5rem;

  outline: none;
  border: none;
  cursor: pointer;
  -webkit-transition: background-color 200ms ease in;
  transition: color .2s ease-in;
}

ul .buttonuser:hover {
  color: #cecece;
  text-decoration: none;
}

ul .buttonuser:link {
  text-decoration: none;
}

.buttonuser:visited {
  text-decoration: none;
}


/*---------------Team Logo-------------*/
header .team {
    color: #ffffff;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/*---------------Buttons-------------*/
header .buttonchat {
  display: block;
  float: right;

  margin-right: 1rem;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
  padding: 0.75rem 2rem;

  font-weight: 700;
  font-size: 120%;
  color: #2b1055;
  background-color: #ffffff;

  border-radius: 0.5rem;

  outline: none;
  border: none;
  cursor: pointer;
  -webkit-transition: background-color 200ms ease in;
  transition: background-color .2s ease-in;
}

header .buttonchat:hover {
  background-color: #180930;
  color: #ffffff;
  text-decoration: none;
}

header .buttonchat:link {
  text-decoration: none;
}

.buttonchat:visited {
  text-decoration: none;
}



header .buttonsettings {
  display: block;
  float: right;

  margin-right: 1rem;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
  padding: 0.75rem 2rem;

  font-weight: 700;
  font-size: 120%;
  color: #ffffff;

  border-radius: 0.5rem;

  outline: none;
  border: none;
  cursor: pointer;
  -webkit-transition: background-color 200ms ease in;
  transition: background-color .2s ease-in;
}

header .buttonsettings:hover {
  background-color: #ffffff;
  color: #2b1055;
  text-decoration: none;
}

header .buttonsettings:link {
  text-decoration: none;
}

header .buttonsettings:visited {
  text-decoration: none;
}



header .buttonlogout {
  display: block;
  float: right;

  margin-right: 1rem;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
  padding: 0.75rem 2rem;

  font-weight: 700;
  font-size: 120%;
  color: #ffffff;

  border-radius: 0.5rem;

  outline: none;
  border: none;
  cursor: pointer;
  -webkit-transition: background-color 200ms ease in;
  transition: background-color .2s ease-in;
}

header .buttonlogout:hover {
  background-color: #ffffff;
  color: #2b1055;
  text-decoration: none;
}

header .buttonlogout:link {
  text-decoration: none;
}

header .buttonlogout:visited {
  text-decoration: none;
}
/*---------------Images-------------*/
section {
  width: 100%;
  height: 100vh;
}

section img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

section img#moon {
    mix-blend-mode: screen;
}

section img#kitty {
  position: relative;
  border-radius: 50%;
  margin-right: 0.5rem;
  height: auto;
  width: 35px;
  background-color: #ffffff;
  z-index: 1;
}
/* Custom Scrollbar
   ==========================================================================
*/

::-webkit-scrollbar {
  width: 13px; /* Vertical */
  height: 13px; /* Horizontal */
}

::-webkit-scrollbar-track {
  background: #1a0620;
}

::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: #310d3f;
}

::-webkit-scrollbar-thumb:hover {
  border-radius: 20px;
  background: #490c61;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

/* Custom */

.like-wrap {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.dm-section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.5);
}

.dm-wrap {
  display: flex;
  padding: 40px;
  height: 250px;
  width: 400px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #490c61;
}
