
@mixin app-header {
  position: fixed;
  width: 100%;
  height: 4.5rem;
  z-index: 10;

  min-width: $desktop_min;
}

@mixin app-body {
  position: relative;
  padding-top: 4.5rem;
  width: 100%;
  height: 100%;
  margin: 0 auto;

  min-width: $desktop_min;
  max-width: $desktop_max;
}

@mixin app-footer {
  position: relative;
  width: 100%;

  z-index: 10;
}

$desktop_max: 1600px;
$desktop_min: 1080px;

$desktop_min_height: 960px;
