* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    /* use rem for sizing */
    font-size: 16px;
}

body {
    position: relative;
    height: 100vh;
}

#app-root {
    height: 100%;
}
