<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel=stylesheet type=text/css href="/frontend/static/Chat.css">
      <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Luckiest+Guy&family=Oswald:wght@700&family=Poppins&display=swap" rel="stylesheet">
    </head>
    <body>

            <div class = "container">

                <div class = "users">
                    <div class = "header">
                        <h2>Online users</h2>
                    </div>

                    <div class = "online_users">
                        <ul>
                            <li>Squeaks</li>
                            <li>Duck</li>
                        </ul>
                    </div>
                </div>


                <div class = "container2">

                    <div class = "body">
                        <p class = "message"> Hello </p>
                        <p class = "user_message"> What's up? </p>
                    </div>
                    {{loop}}{{end_loop}}
                    <div class = "footer">
                        <form action="/chatpage" id="chat-form" method="post" enctype="multipart/form-data">
                            <input value="{{xsrf_token}}" name="xsrf_token" hidden>
                            <input type = "text" name = "comment">
                            <button> SEND ➤</button>
                        </form>
                    </div>

                </div>
            </div>

    </body>
</html>
