<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='Homepage.css') }}">
        <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Luckiest+Guy&family=Poppins&display=swap" rel="stylesheet">
    </head>
    <body>
        <header>
            <h1 class = "team"> Team Strays in Tokyo </h1>
            
            <ul>
                <a button class = "buttonlogin" href = "{{ url_for('login') }}" >Log in</button></a>

                <a button class = "buttonregister" href = "{{ url_for('register') }}" >Register</button></a>

                <a button class = "buttonabout" href = "{{ url_for('homepage') }}" >About</button></a>

                <a button class = "buttonhome" href = "{{ url_for('homepage') }}" >Home</button></a>
            </ul>
        </header>

        <section>
            <img src = "{{url_for('static', filename='stars.png')}}" id = "stars">
            <img src = "{{url_for('static', filename='moon.png')}}" id = "moon">
            <img src = "{{url_for('static', filename='mountains_behind.png')}}" id = "mountains_behind">
            <img src = "{{url_for('static', filename='mountains_front.png')}}" id = "mountains_front">
        </section>
        
    </body>
</html>