<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel=stylesheet type=text/css href="/frontend/static/Homepage.css">
        <link rel="icon" type="image/png" href="/frontend/static/cat.png" sizes ="32x32"/>
        <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Luckiest+Guy&family=Poppins&display=swap" rel="stylesheet">
    </head>
    <body>
        <header>
            <h1 class = "team"> Team Strays in Tokyo </h1>

            <ul>
                <a button class = "buttonlogin" href = "/login" >Log in</button></a>

                <a button class = "buttonregister" href = "/register" >Register</button></a>

                <a button class = "buttonhome" href = "/" >Home</button></a>
            </ul>
        </header>

        <section>
            <img src = "/frontend/static/stars.png" id = "stars">
            <img src = "/frontend/static/moon.png" id = "moon">
            <img src = "/frontend/static/mountains_behind.png" id = "mountains_behind">
            <img src = "/frontend/static/mountains_front.png" id = "mountains_front">
        </section>

    </body>
</html> 

