<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel=stylesheet type=text/css href="/frontend/static/Register.css">
        <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Luckiest+Guy&family=Oswald:wght@700&family=Poppins&display=swap" rel="stylesheet">
    </head>
    <body>
        <section>
            <header>
                <h1 class = "team"> Team Strays in Tokyo </h1>

                <ul>
                    <a button class = "buttonlogin" href = "/login" >Log in</button></a>

                    <a button class = "buttonregister" href = "/register" >Register</button></a>

                    <a button class = "buttonhome" href = "/" >Home</button></a>
                </ul>
            </header>

            <img src = "/frontend/static/stars.png">
            <img src = "/frontend/static/moon.png">
            <img src = "/frontend/static/mountains_behind.png">
            <img src = "/frontend/static/mountains_front.png">

            <form action="/register" id="register-form" method="post" enctype="multipart/form-data">
                <h1 class = "formtitle">Ready to Register?</h1>

                <p class = "formdescription">Create an account below!</p><br><br>

                    <div class = "formgroup">

                        <input type = "text" id = "email" class = "forminput" name = "email" placeholder = " " autocomplete = "off">
                        <label for = "email" class = "formlabel">Email</label>

                    </div>


                    <div class = "formgroup">

                        <input type = "password" id = "password" class = "forminput" name = "password" placeholder = " ">
                        <label for = "password" class = "formlabel">Password</label>

                    </div>


                    <div class = "formgroup">

                        <input type = "password" id = "confirm_password" class = "forminput" name = "confirm_password" placeholder = " ">
                        <label for = "confirm_password" class = "formlabel">Confirm Password</label>

                    </div>

                    <input type="submit" class="formbutton" value="Register"></br>
            </form>
        </section>
    </body>
</html> 