<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel=stylesheet type=text/css href="/frontend/static/Settings.css">
      <link rel="icon" type="image/png" href="/frontend/static/cat.png" sizes ="32x32"/>
      <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Luckiest+Guy&family=Oswald:wght@700&family=Poppins&display=swap" rel="stylesheet">
  </head>
    <body>
        <section>
            <header>
                <h1 class = "team"> Team Strays in Tokyo </h1>
                
                <ul>
                    <a button class = "buttonchat" href = "/chatpage" >Chat</button></a>

                    <a button class = "buttonsettings" href = "/settings">Settings</button></a>

                    <a button class = "buttonlogout" href = "/logout" >Log out</button></a>
                </ul>
            </header>

            <img src = "/frontend/static/stars.png" id = "stars">
            <img src = "/frontend/static/moon.png" id = "moon">
            <img src = "/frontend/static/mountains_behind.png" id = "mountains_behind">
            <img src = "/frontend/static/mountains_front.png" id = "mountains_front">

            <div class = "container">
                <div class = "container_vertical">
                    <div class = "body">
                        <h2>Account Settings</h2>
                        <img src = "/frontend/static/{{profile_picture_name}}" id = "kitty">
                        {{loop}}{{end_loop}}
                        <form action="/settings" id="profile-picture-form" method="post" enctype="multipart/form-data">
                            <input value="{{xsrf_token}}" name="xsrf_token" hidden>
                            <input type = "file" id = "myFile" name = "filename" hidden>
                            <label for = "myFile">Upload image</label><br>
                            <input type="submit" id = "confirm" value="Confirm">
                        </form>
                    </div>
                </div>
            </div>
    </body>
</html>